.contenedor-compra-carrito{
    margin: 100px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bought{
    display: flex;
    flex-direction: row;
}

.contenedor-comprado{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.contenedor-imagen-comprado{
    height: 100%;
    width: 20%;
}

.contenedor-imagen-comprado img{
    max-height: 100%;
}

.contenedor-producto-comprado{
    width: 30%;
}

.contenedor-precio-comprado{
    width: 15%;   
}

.contenedor-cantidad-comprado{
    width: 5%;
}

.delete-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100%;
    margin-bottom: 40px;
    width: 10%;
}

.delete-add a{
    width: 40%;
    height: 30%;
    margin-right: 10%;
}

.delete{
    width: 100%;
    height: 30px;
    border-radius: 25px;
    background-color: red;
    color: #fff;
    border: none;
}

.add{
    width: 100%;
    height: 30px;
    border-radius: 25px;
    background-color: #3e2462;
    color: #fff;
    border: none;
}