.contenedor-producto{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 400px;
    margin: 60px 20px 5px 20px;
    cursor: pointer;
}

.contenedor-producto:hover{
    transition: 0.2s;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.contenedor-imagen-producto{
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen-producto img{
    max-width: 100%;
    max-height: 100%;
}

.detalles-producto{
    padding: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.detalles-producto h4{
    color: black;
    font-weight: bold;
}