.lista-productos{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 5% 2% 1.5%;
}

.lista-productos a{
    text-decoration: none !important;
}