body, html{
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.App{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #3e2462;
    justify-content: space-between;
    align-items: center;
}

.user{
    position: relative;
    height: 40px;
    width: 80px;
    margin-right: 20px;
    margin-top: 5px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #3e2462;
}

.user:hover{
    transition: 0.2s;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.contenedor-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform:uppercase;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.container-user img{
    height: 53px;
}

.contenedor-logo img{
    height: 70px;
    max-width: 100%;
    margin: auto 50px auto 50px;
}

.contenedor-carrito img{
    height: 50px;
    max-width: 100%;
    margin: auto 50px auto 50px;
    
}

.header-derecha{
    display: flex;
    flex-direction: row;
}

